.r div
{
  height: 300px;
}

.row1 {
  background-color: grey;
}

.row2 {
  background-color: rgb(110, 106, 106);
}

@font-face {
  font-family: 'BebasNeueBold';
  src: url('Ressources/Fonts/Gras/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('Ressources/Fonts/Gras/BebasNeueBold.otf')  format('opentype'),
	     url('Ressources/Fonts/Gras/BebasNeueBold.woff') format('woff'), url('Ressources/Fonts/Gras/BebasNeueBold.ttf')  format('truetype'), url('Ressources/Fonts/Gras/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
} 

 
 
 body
 {
   margin: 0;
   padding: 0;
   font-family: 'BebasNeueBold',Impact,fantasy;
 }