
@font-face {
  font-family: 'BebasNeue-Thin';
  src: url('BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),  url('BebasNeue-Thin.otf')  format('opentype'),
	     url('BebasNeue-Thin.woff') format('woff'), url('BebasNeue-Thin.ttf')  format('truetype'), url('BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
